.wrapper {
  max-width: 2048px;
  margin: 0 auto;
  padding: 0 4%;
}

.page-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.big-bg {
  background-size: cover;
  background-position: center;
}
